apiVersion: "cluster.k8s.io/v1alpha1"
kind: Cluster
metadata:
  name: test1
spec:
  clusterNetwork:
    services:
      cidrBlocks: ["100.64.0.0/13"]
    pods:
      cidrBlocks: ["100.96.0.0/11"]
    serviceDomain: "cluster.local"
  providerSpec:
    value:
      apiVersion: "vsphereproviderconfig/v1alpha1"
      kind: "VsphereClusterProviderConfig"
      vsphereUser: "$VSPHERE_USERNAME"
      vspherePassword: "$VSPHERE_PASSWORD"
      vsphereServer: "$VSPHERE_SERVER"
