apiVersion: v1
kind: Secret
metadata:
  name: clusterapi-provider-vsphere-ci-secret
type: Opaque
data:
  provider-component-spec: ${PROVIDER_COMPONENT_SPEC}
  target-vm-ssh: ${TARGET_VM_SSH}
  target-vm-ssh-pub: ${TARGET_VM_SSH_PUB}
  bootstrap-kubeconfig: ${BOOTSTRAP_KUBECONFIG}
