apiVersion: v1
kind: Secret
metadata:
  name: clusterapi-provider-vsphere-ci-prow
type: Opaque
data:
  vsphere-controller-version: ${VSPHERE_CONTROLLER_VERSION}
  provider-component-spec: ${PROVIDER_COMPONENT_SPEC}
  target-vm-ssh: ${TARGET_VM_SSH}
  target-vm-ssh-pub: ${TARGET_VM_SSH_PUB}
  vsphere-username: ${VSPHERE_USERNAME}
  vsphere-password: ${VSPHERE_PASSWORD}
  vsphere-server: ${VSPHERE_SERVER}
