.git
.github
.vscode
.dockerignore
.gitignore
.golangci.yml
.markdownlintrc
*.out
bin/
build/
out/
docs/
scripts/
**/.md
/*.test
/cluster-api-provider-vsphere
/examples/provider-components/provider-components*.yaml
test/
