.git/
.github/
.vscode
.dockerignore
.gitignore
.golangci.yml
.markdownlintrc
*.out
bin/
hack/.bin/
hack/tools/bin/
hack/tools/haproxy/
out/
docs/
scripts/
**/.md
*.test
cluster-api-provider-vsphere
examples/provider-components/provider-components*.yaml
test/
