# Each entry in this list must resolve to an existing
# resource definition in YAML.  These are the resource
# files that kustomize reads, modifies and emits as a
# YAML string, with resources separated by document
# markers ("---").
resources:
- vsphereproviderconfig_v1alpha1_vsphereclusterproviderconfig.yaml
- vsphereproviderconfig_v1alpha1_vspheremachineproviderconfig.yaml
- vsphereproviderconfig_v1alpha1_vsphereclusterproviderstatus.yaml
- vsphereproviderconfig_v1alpha1_vspheremachineproviderstatus.yaml
