---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - nodes
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/status
  - persistentvolumeclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - providerserviceaccounts.vmware.infrastructure.cluster.x-k8s.io
  - vsphereclusters.vmware.infrastructure.cluster.x-k8s.io
  - vsphereclustertemplates.vmware.infrastructure.cluster.x-k8s.io
  - vspheremachines.vmware.infrastructure.cluster.x-k8s.io
  - vspheremachinetemplates.vmware.infrastructure.cluster.x-k8s.io
  resources:
  - customresourcedefinitions
  - customresourcedefinitions/status
  verbs:
  - patch
  - update
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - vsphereclusteridentities.infrastructure.cluster.x-k8s.io
  - vsphereclusters.infrastructure.cluster.x-k8s.io
  - vsphereclustertemplates.infrastructure.cluster.x-k8s.io
  - vspheredeploymentzones.infrastructure.cluster.x-k8s.io
  - vspherefailuredomains.infrastructure.cluster.x-k8s.io
  - vspheremachines.infrastructure.cluster.x-k8s.io
  - vspheremachinetemplates.infrastructure.cluster.x-k8s.io
  - vspherevms.infrastructure.cluster.x-k8s.io
  resources:
  - customresourcedefinitions
  - customresourcedefinitions/status
  verbs:
  - patch
  - update
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - clusters/status
  - machinedeployments
  - machines/status
  - machinesets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - machines
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - controlplane.cluster.x-k8s.io
  resources:
  - kubeadmcontrolplanes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - crd.nsx.vmware.com
  resources:
  - subnetsets
  - subnetsets/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - vsphereclusteridentities
  - vsphereclusters
  - vspheredeploymentzones
  - vspherefailuredomains
  - vspheremachines
  - vspherevms
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - vsphereclusteridentities/status
  - vsphereclusters/status
  - vspheredeploymentzones/status
  - vspheremachines/status
  - vspherevms/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - vsphereclustertemplates
  - vspheremachinetemplates
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.cluster.x-k8s.io
  resources:
  - ipaddressclaims
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.cluster.x-k8s.io
  resources:
  - ipaddresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - netoperator.vmware.com
  resources:
  - networks
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - topology.tanzu.vmware.com
  resources:
  - availabilityzones
  - availabilityzones/status
  - zones
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vmoperator.vmware.com
  resources:
  - virtualmachineclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vmoperator.vmware.com
  resources:
  - virtualmachineimages
  - virtualmachineimages/status
  - virtualmachines
  - virtualmachineservices
  - virtualmachineservices/status
  - virtualmachinesetresourcepolicies
  - virtualmachinesetresourcepolicies/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vmware.com
  resources:
  - virtualnetworks
  - virtualnetworks/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vmware.infrastructure.cluster.x-k8s.io
  resources:
  - providerserviceaccounts
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vmware.infrastructure.cluster.x-k8s.io
  resources:
  - providerserviceaccounts/status
  - vsphereclusters/status
  - vspheremachines/status
  - vspheremachinetemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vmware.infrastructure.cluster.x-k8s.io
  resources:
  - vsphereclusters
  - vsphereclustertemplates
  - vspheremachines
  - vspheremachinetemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
