apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Adds namespace to all resources.
namespace: capv-system

namePrefix: capv-

commonLabels:
  cluster.x-k8s.io/provider: "infrastructure-vsphere"
  cluster.x-k8s.io/v1beta1: v1beta1
resources:
  - ../base
  - crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  - crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  - crd/vmware.infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  - crd/vmware.infrastructure.cluster.x-k8s.io_vsphereclustertemplates.yaml
  - crd/vmware.infrastructure.cluster.x-k8s.io_providerserviceaccounts.yaml
