---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: contentsourcebindings.vmoperator.vmware.com
spec:
  group: vmoperator.vmware.com
  names:
    kind: ContentSourceBinding
    listKind: ContentSourceBindingList
    plural: contentsourcebindings
    singular: contentsourcebinding
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ContentSourceBinding is an object that represents a ContentSource
          to Namespace mapping.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          contentSourceRef:
            description: ContentSourceRef is a reference to a ContentSource object.
            properties:
              apiVersion:
                description: API version of the referent.
                type: string
              kind:
                description: Kind is the type of resource being referenced.
                type: string
              name:
                description: Name is the name of resource being referenced.
                type: string
            required:
            - name
            type: object
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
        type: object
    served: true
    storage: true
