---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: virtualmachinepublishrequests.vmoperator.vmware.com
spec:
  group: vmoperator.vmware.com
  names:
    kind: VirtualMachinePublishRequest
    listKind: VirtualMachinePublishRequestList
    plural: virtualmachinepublishrequests
    shortNames:
    - vmpub
    singular: virtualmachinepublishrequest
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualMachinePublishRequest defines the information necessary
          to publish a VirtualMachine as a VirtualMachineImage to an image registry.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: "VirtualMachinePublishRequestSpec defines the desired state
              of a VirtualMachinePublishRequest. \n All the fields in this spec are
              optional. This is especially useful when a DevOps persona wants to publish
              a VM without doing anything more than applying a VirtualMachinePublishRequest
              resource that has the same name as said VM in the same namespace as
              said VM."
            properties:
              source:
                description: "Source is the source of the publication request, ex.
                  a VirtualMachine resource. \n If this value is omitted then the
                  publication controller checks to see if there is a resource with
                  the same name as this VirtualMachinePublishRequest resource, an
                  API version equal to spec.source.apiVersion, and a kind equal to
                  spec.source.kind. If such a resource exists, then it is the source
                  of the publication."
                properties:
                  apiVersion:
                    default: vmoperator.vmware.com/v1alpha1
                    description: APIVersion is the API version of the referenced object.
                    type: string
                  kind:
                    default: VirtualMachine
                    description: Kind is the kind of referenced object.
                    type: string
                  name:
                    description: "Name is the name of the referenced object. \n If
                      omitted this value defaults to the name of the VirtualMachinePublishRequest
                      resource."
                    type: string
                type: object
              target:
                description: "Target is the target of the publication request, ex.
                  item information and a ContentLibrary resource. \n If this value
                  is omitted, the controller uses spec.source.name + \"-image\" as
                  the name of the published item. Additionally, when omitted the controller
                  attempts to identify the target location by matching a resource
                  with an API version equal to spec.target.location.apiVersion, a
                  kind equal to spec.target.location.kind, w/ the label \"imageregistry.vmware.com/default\".
                  \n Please note that while optional, if a VirtualMachinePublishRequest
                  sans target information is applied to a namespace without a default
                  publication target, then the VirtualMachinePublishRequest resource
                  will be marked in error."
                properties:
                  item:
                    description: "Item contains information about the name of the
                      object to which the VM is published. \n Please note this value
                      is optional and if omitted, the controller will use spec.source.name
                      + \"-image\" as the name of the published item."
                    properties:
                      description:
                        description: Description is the description to assign to the
                          published object.
                        type: string
                      name:
                        description: "Name is the name of the published object. \n
                          If the spec.target.location.apiVersion equals imageregistry.vmware.com/v1alpha1
                          and the spec.target.location.kind equals ContentLibrary,
                          then this should be the name that will show up in vCenter
                          Content Library, not the custom resource name in the namespace.
                          \n If omitted then the controller will use spec.source.name
                          + \"-image\"."
                        type: string
                    type: object
                  location:
                    description: Location contains information about the location
                      to which to publish the VM.
                    properties:
                      apiVersion:
                        default: imageregistry.vmware.com/v1alpha1
                        description: APIVersion is the API version of the referenced
                          object.
                        type: string
                      kind:
                        default: ContentLibrary
                        description: Kind is the kind of referenced object.
                        type: string
                      name:
                        description: "Name is the name of the referenced object. \n
                          Please note an error will be returned if this field is not
                          set in a namespace that lacks a default publication target.
                          \n A default publication target is a resource with an API
                          version equal to spec.target.location.apiVersion, a kind
                          equal to spec.target.location.kind, and has the label \"imageregistry.vmware.com/default\"."
                        type: string
                    type: object
                type: object
              ttlSecondsAfterFinished:
                description: "TTLSecondsAfterFinished is the time-to-live duration
                  for how long this resource will be allowed to exist once the publication
                  operation completes. After the TTL expires, the resource will be
                  automatically deleted without the user having to take any direct
                  action. \n If this field is unset then the request resource will
                  not be automatically deleted. If this field is set to zero then
                  the request resource is eligible for deletion immediately after
                  it finishes."
                format: int64
                type: integer
            type: object
          status:
            description: VirtualMachinePublishRequestStatus defines the observed state
              of a VirtualMachinePublishRequest.
            properties:
              attempts:
                description: Attempts represents the number of times the request to
                  publish the VM has been attempted.
                format: int64
                type: integer
              completionTime:
                description: "CompletionTime represents time when the request was
                  completed. It is not guaranteed to be set in happens-before order
                  across separate operations. It is represented in RFC3339 form and
                  is in UTC. \n The value of this field should be equal to the value
                  of the LastTransitionTime for the status condition Type=Complete."
                format: date-time
                type: string
              conditions:
                description: Conditions is a list of the latest, available observations
                  of the request's current state.
                items:
                  description: Condition defines an observation of a VM Operator API
                    resource operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to disambiguate
                        is important.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              imageName:
                description: "ImageName is the name of the VirtualMachineImage resource
                  that is eventually realized in the same namespace as the VM and
                  publication request after the publication operation completes. \n
                  This field will not be set until the VirtualMachineImage resource
                  is realized."
                type: string
              lastAttemptTime:
                description: LastAttemptTime represents the time when the latest request
                  was sent.
                format: date-time
                type: string
              ready:
                description: "Ready is set to true only when the VM has been published
                  successfully and the new VirtualMachineImage resource is ready.
                  \n Readiness is determined by waiting until there is status condition
                  Type=Complete and ensuring it and all other status conditions present
                  have a Status=True. The conditions present will be: \n * SourceValid
                  * TargetValid * Uploaded * ImageAvailable * Complete"
                type: boolean
              sourceRef:
                description: SourceRef is the reference to the source of the publication
                  request, ex. a VirtualMachine resource.
                properties:
                  apiVersion:
                    default: vmoperator.vmware.com/v1alpha1
                    description: APIVersion is the API version of the referenced object.
                    type: string
                  kind:
                    default: VirtualMachine
                    description: Kind is the kind of referenced object.
                    type: string
                  name:
                    description: "Name is the name of the referenced object. \n If
                      omitted this value defaults to the name of the VirtualMachinePublishRequest
                      resource."
                    type: string
                type: object
              startTime:
                description: StartTime represents time when the request was acknowledged
                  by the controller. It is not guaranteed to be set in happens-before
                  order across separate operations. It is represented in RFC3339 form
                  and is in UTC.
                format: date-time
                type: string
              targetRef:
                description: TargetRef is the reference to the target of the publication
                  request, ex. item information and a ContentLibrary resource.
                properties:
                  item:
                    description: "Item contains information about the name of the
                      object to which the VM is published. \n Please note this value
                      is optional and if omitted, the controller will use spec.source.name
                      + \"-image\" as the name of the published item."
                    properties:
                      description:
                        description: Description is the description to assign to the
                          published object.
                        type: string
                      name:
                        description: "Name is the name of the published object. \n
                          If the spec.target.location.apiVersion equals imageregistry.vmware.com/v1alpha1
                          and the spec.target.location.kind equals ContentLibrary,
                          then this should be the name that will show up in vCenter
                          Content Library, not the custom resource name in the namespace.
                          \n If omitted then the controller will use spec.source.name
                          + \"-image\"."
                        type: string
                    type: object
                  location:
                    description: Location contains information about the location
                      to which to publish the VM.
                    properties:
                      apiVersion:
                        default: imageregistry.vmware.com/v1alpha1
                        description: APIVersion is the API version of the referenced
                          object.
                        type: string
                      kind:
                        default: ContentLibrary
                        description: Kind is the kind of referenced object.
                        type: string
                      name:
                        description: "Name is the name of the referenced object. \n
                          Please note an error will be returned if this field is not
                          set in a namespace that lacks a default publication target.
                          \n A default publication target is a resource with an API
                          version equal to spec.target.location.apiVersion, a kind
                          equal to spec.target.location.kind, and has the label \"imageregistry.vmware.com/default\"."
                        type: string
                    type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
