apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: provider-controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      # Change the value of image field below to your controller image URL
      - image: "${CAPV_MANAGER_IMAGE}"
        name: manager
